<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-brand">LIM Lab</div>
    <div class="footer-logos">
      <a href="https://www.ucl.ac.uk/swc" target="_blank" rel="noreferrer">
        <img src="{{ '/assets/img/sainsbury.png' | relative_url }}" alt="Sainsbury Wellcome Centre logo">
      </a>
      <a href="https://www.ucl.ac.uk" target="_blank" rel="noreferrer">
        <img src="{{ '/assets/img/ucl.png' | relative_url }}" alt="UCL logo">
      </a>
    </div>
  </div>
</footer>
